*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  margin: auto;
  padding: 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: grid;
  grid-template-columns: 711px 1fr;
  grid-template-areas: "result content__details";
  gap: 30px;
  width: 100%;
  max-width: 1140px;
  height: 534px;
  margin: auto;
}

.result {
  grid-area: result;
  align-self: end;
  height: 456px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-bottom: 5px;
}

.search-form__textfield {
  gap: 2.5px 0;
  min-width: 225px;
  border: 1px solid #fff;
  border-right: 0;
  border-left: 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px #fff solid;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox-list .search-form__label {
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px #fff solid;
  padding: 1px;
  cursor: pointer;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.button {
  border: 1px #fff solid;
  padding: 6px 0;
  color: #ffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 100%;
}

.more-button {
  width: 100%;
}

.content__details {
  grid-area: content__details;
  align-self: end;
  width: 100%;
  height: 100%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: Bold;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  margin-top: 26px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px #fff solid;
  outline-offset: 0;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.content__video-card-title {
  margin-bottom: 6px;
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
